.view {
  padding: 6rem 20rem;
  font-size: 7rem;
  .title {
    flex: 1;
    justify-content: flex-end;
    padding-right: 20rem;
    gap: 10rem;
    color: #fff;
    .li {
      border-bottom: 2px solid #2c5697;
    }
    .li:hover {
      border-bottom: 2px solid #fff;
      transition: transform 0.3s ease;
    }
  }
}
